<div id="about">
  <div class="user-details">
    <h1>Quem Somos</h1>
    <p>{{ site.user_description }}</p>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Objetivos</h2>
      <p>Aspiramos transformar o cenário da construção com projetos sustentáveis e de alta qualidade, estabelecendo novos padrões de eficiência e estética.</p>
    </div>
    <div class="tech">
      <h2>Valores</h2>
      <p>Inovação contínua, sustentabilidade, compromisso, honestidade e conhecimento.</p>
    </div>
  </div>
  <div class="team">
    <h2>Equipe</h2>
    <img class="team-img" alt="Foto da equipe" src="{{ "/assets/img/team.jpg" | prepend: site.baseurl }}" />
    <div class="contact-button">
      <a href="https://api.whatsapp.com/send?phone=5588999080648" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-whatsapp"></i>
        <span>Entre em contato</span>
      </a>
    </div>
  </div>
</div>