<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-links">
      <a class="link-wrapper left" href="#calculator" data-scroll>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
        <span class="link-text">Calculadora</span>
      </a>
      <div class="vline"></div>
      <a class="link-wrapper right" href="#about" data-scroll>
        <span class="link-text">Sobre nós</span>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>